.item_container{
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 8px;
    margin-bottom: 30px;
}

.item_img{
    border-radius: 8px 0 0 8px;
    height: 240px;
}

.item_desc{
    padding: 10px;
}

.item_button{
    border: none;
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
    background-color: transparent;
}

.item_title{
   margin-top: 40px;
}

.item_counter{
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .item_img{
       height: 140px;
    }
  }